# Virtual env
brainbug_env/
venv/
.env
*.env

# Node modules
node_modules/

# Logs & outputs
logs/
*.log
wandb/
tensorboard/
*.tmp
*.temp

# Datasets
data/

# Model checkpoints & heavy weights
ml_models/
checkpoint-*/
*.ckpt
*.pt
*.pth
*.bin
*.safetensors
vocab.json
merges.txt
tokenizer_config.json
special_tokens_map.json
generation_config.json

# System and IDE
.DS_Store
Thumbs.db
.vscode/
.idea/
